body {
    background-color: #909090!important;
}

.main-container {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 20%!important;
    padding-left: 20%!important;

}

#particles-js {
    position : absolute;
    width:100%;
    height:100%;
    z-index:-1;
}
.row {
    margin-left: auto;
    margin-right: auto;
}

.col {
    margin-left: auto!important;
    margin-right: auto!important;
    width: 100%!important;
    padding-left: 0px!important;
    padding-right: 0px!important;
}

#main-square {
    height: auto;
    background-color: rgba(0,0,0,0.75);
  }
  
#heading {
    margin-left: 4%;
    padding-top: 2%;
    width:  35%;
}

.search {
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    width: 100%;
}

#zvajz-button {
    margin-top: 1%;
}

#results-box {
    display: block;
    margin: 4%;
    width: 100%;
}

#results {
    color: black;
    width: 80%;
    margin-left: 0%;
    margin-right: 0%;
    width: 100%;
}


.container-results {
    margin-top: 3%;
}

