<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='favicon.svg') }}">

    <title>Žvajzer</title>
  </head>
  <body>
    <div id="particles-js"></div>

      <div class="container-fluid main-container">
        <div class="fluid-container" >
          <div id="main-square" class="row">
            <div class="container">
              <div class="row">
                <div class="col"></div>
                <div class="col">
                  <img id="heading" src="{{ url_for('static', filename='logo.svg') }}" aria-hidden="true">
                </div>
                <div class="col"></div>
              </div>
            </div>

            <div class="container mt-2">
              <div class="row m-auto">
                <div class="col">
                  <input class="form-control" id="oib" type="number" placeholder="Matični broj ili OIB firme...">
                </div>
                <div class="col">
                  <button id="operator" type="button" class="btn btn-light float-right">
                    <img src="{{ url_for('static', filename='operator.png') }}" height="15px" aria-hidden="true">
                  </button>
                </div>
                <div class="w-100"></div>
                <div class="col">
                  <button id="zvajz-button" type="button" class="btn btn-primary mt-2">
                    <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                    <img id="search-svg" src="{{ url_for('static', filename='search.svg') }}" height="15px" aria-hidden="true">
                  </button>
                </div>
                <div class="col">Column</div>
              </div>
            </div>
            <div id="results-box" class="row">
              <ul id="results" class="list-group"></ul>
              <div id="contacts" class="col"></div>
            </div>
          </div>
        </div>
      </div>
    
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <!-- particles.js -->
    <script src="https://cdn.jsdelivr.net/npm/particles.js@2.0.0/particles.min.js"></script>
    <script>particlesJS.load("particles-js", "{{ url_for('static', filename='particles.json') }}");</script>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>
