<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-4.5.3-dist/css/bootstrap.min.css') }}">
    <link rel="icon" type="image/svg+xml" href="{{ url_for('static', filename='images/favicon.svg') }}">

    <title>Smash</title>
  </head>
  <body>
    <div id="particles-js"></div>

      <div class="container-fluid main-container">
        <div class="fluid-container" >
          <div id="main-square" class="row">
            <div class="container">
              <div class="row">
                <div class="col-5 ml-3 mt-1">
                  <img src="{{ url_for('static', filename='images/logo.svg') }}">
                </div>
                <div class="col d-flex align-items-end m-2">
                  <input class="form-control" id="operator-box" type="number" placeholder="Provjera operatora">
                  <button id="operator" type="button" class="btn btn-light float-right ml-2">
                    <img src="{{ url_for('static', filename='images/operator.svg') }}" height="22px" aria-hidden="true">
                  </button>
                </div>
              </div>
            </div>
            <div class="col d-flex align-items-start m-2">
              <button id="zvajz-button" type="button" class="btn btn-primary mr-2">
                <span id="spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none;"></span>
                <img id="search-svg" src="{{ url_for('static', filename='images/search.svg') }}" height="22px" aria-hidden="true">
              </button>
              <input class="form-control" id="oib" type="number" placeholder="Matični broj ili OIB firme...">
            </div>
            <div id="results-box" class="row mx-auto">
              <ul id="results" class="list-group"></ul>
              <div id="contacts" class="row d-flex align-items-start mr-1"></div>
            </div>
          </div>
        </div>
      </div>
    
    <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    <!-- particles.js -->
    <script src="{{ url_for('static', filename='scripts/particles.min.js') }}"></script>
    <script>particlesJS.load("particles-js", "{{ url_for('static', filename='particles.json') }}");</script>
    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap-4.5.3-dist/js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
