.main-container {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-right: 20%!important;
    padding-left: 20%!important;

}

    
#particles-js {
    position: fixed!important;
    width: 100%;
    height: 100%;
    background-color: #909090;
    z-index:-1;
}

#main-square {
    height: auto;
    background-color: rgba(0,0,0,0.75);
    border-radius: 8px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .25), 0 3px 10px 5px rgba(0, 0, 0, 0.3);
}
  

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.spinner-border-sm {
    width: 22px!important;
    height: 22px!important;
}

#results-box {
    display: none;
    margin: 4%;
    width: 100%;
}

#results {
    color: black;
}


.container-results {
    margin-top: 3%;
}

